# Ignore the .git and .vs directories
.git
.vs

# Ignore all binaries and object files
bin/
obj/

# Ignore the contents of the output directories
out/
publish/

# Ignore Visual Studio config files, build results, and NUGET packages
*.user
*.suo
*.userprefs
*.sln.docstates
*.cache
*.vswp
*.nupkg

# Ignore all markdown documents
*.md

# Ignore development specific files
appsettings.Development.json
appsettings.*.json

# Ignore npm package files
node_modules/

# Ignore log files and databases
*.log
*.sqlite

# Ignore Dockerfile to reduce potential leakage of sensitive information if used in the file
Dockerfile

# Optionally ignore environment files if not needed in the Docker image
.env
